.search_container {
    margin: 2em 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.search_container input {
    width: 100%;
    padding: 12px; /* Área de toque maior */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.search_container input::placeholder {
    color: #7b7b7b;
}