:root {
  /* --- Paleta de Cores (Dark / Gold) --- */
  --bg-color: #222831;        /* Fundo principal */
  --secondary-color: #393E46; /* Fundo de cards/footer */
  --accent-color: #FFD369;    /* Destaque (botões, links, ícones) */
  --text-color: #EEEEEE;      /* Texto principal */
  --text-secondary: #a5a5a5;  /* Texto secundário/placeholder */
  
  /* --- Cores de Feedback (Sucesso/Erro) --- */
  --success-color: #00ADB5;   /* Ciano para mensagens de sucesso */
  --error-color: #F05454;     /* Vermelho suave para erros */
  
  /* --- Fontes e Tamanhos --- */
  --font-main: 'Open Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-main); /* Usando a variável */
}

html, body, #root {
  height: 100%;
  background-color: var(--bg-color); /* Usando a variável */
  color: var(--text-color);
}

/* Dica Extra: Removemos as bolinhas de listas e sublinhados de links globalmente
   pois vamos estilizar isso nos componentes */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /* Herda a cor do pai */
  transition: 0.3s;
}

a:hover {
  color: var(--accent-color); /* Efeito global de hover */
}