.fraseConteiner {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    font-family: 'Arial, sans-serif';
}

.fraseContent {
    font-size: 1.2em;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}